
		body
		{
			
			background-image: linear-gradient(to bottom,#E6E6FA,#FFB6C1);
			background-repeat: no-repeat;	
			background-size: 1600px 1150px;
		}
		.container
		{
			margin-left: 500px;
			border: 1px solid grey;
			width: 500px;
			padding: 20px;
			text-align: center;
			background-color: white;
			background-repeat: no-repeat;
			border-radius: 5px;
		}
		hr
		{
			border: 2px solid black;
		}
		h2{
			font-size: 17px;
			color: #3d3d29;
		}
		a{
			font-size: 15px;
		}
		.leftmargin
		{
			text-align: left;
		}
		label
		{
			color: #3d3d29;
			font-weight: bold;
			font-size: 18px;
			text-align: left;
		}
		input
		{
			border-radius: 5px;
			width: 480px;
			margin: 5px 0;
			display: inline-block;
			padding: 10px 10px;
			height: 20px;
			border: 1px solid grey;
			font-size: 15px
		}
		button
		{
			border-radius: 5px;
			background-color: black;
			color: white;
			font-size: 15px;
			padding: 10px;
			width: all;
		}
		.cen
		{
			text-align: center;
		}
		.cen button:hover{
			background-color: grey;
		}
		
		.nav-area{
			margin-top: 100px;
			float: right;
			margin-right: 10px;
			list-style: none;
		}
		.nav-area li{
			display: inline-block;
		}
		.nav-area li a{
			color: black;
			transition: background-color .5s;
			text-decoration: none;
			padding: 10px 10px;
			font-family: inherit;
			font-size: 25px;
		}
		.nav-area li a:hover {
			background-color: grey;
			
		}





		.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  margin-left:auto;margin-right: auto;
  clear: both;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left:auto;margin-right: auto;
margin-left: 85px;
  margin-right: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;margin-left:auto;margin-right: auto;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 0;
  margin-right: 0;


}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  margin-left: 0;
  margin-right: 0;


}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-left: 0;
  margin-right: 0;

}

.flip-card-front {
  background-color: #bbb;
  color: black;
  margin-left: 0;
  margin-right: 0;

}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
margin-left: 0;
  margin-right: 0;
}


body {

  font-family: Arial, Helvetica, sans-serif;margin-left:auto;margin-right: auto;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 153, 153));
}
.navbar {
  overflow: hidden;
  background-color:white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;margin-left:auto;margin-right: auto;
}
.yatra{
			background-color: black;
			color: white;
		}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: grey;margin-left:auto;margin-right: auto;
}

.dropdown:hover .dropdown-content {
  display: block;margin-left:auto;margin-right: auto;
}body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: grey;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(219, 197, 213);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
b{
  text-align: center;font-size:18px;text-shadow: 2px 2px 8px blue;
margin-left: auto;
margin-right: auto;
 }